.Sugestao{
    align-items: center;
    padding: 20px;
    background-color: rgb(143, 143, 143);
    width: min-content;
    margin:10px auto ;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}